In [168]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [169]:
df=pd.read_csv("cleaned_data.csv")
df

,type,title,director,cast,country,date_added,release_year,duration,listed_in,averageRating,numVotes
0,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,90 min,"Children & Family Movies, Comedies",3.400000,578.0
1,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,99 min,Comedies,5.100000,7143.0
2,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada","September 8, 2017",2014,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers",6.000000,60800.0
3,Movie,Good People,Henrik Ruben Genz,"James Franco, Kate Hudson, Tom Wilkinson, Omar...","United States, United Kingdom, Denmark, Sweden","September 8, 2017",2014,90 min,"Action & Adventure, Thrillers",5.500000,17701.0
4,Movie,Kidnapping Mr. Heineken,Daniel Alfredson,"Jim Sturgess, Sam Worthington, Ryan Kwanten, A...","Netherlands, Belgium, United Kingdom, United S...","September 8, 2017",2015,95 min,"Action & Adventure, Dramas, International Movies",6.100000,22174.0
...,...,...,...,...,...,...,...,...,...,...,...
7183,TV Show,Kikoriki,Kunle Afolayan,Igor Dmitriev,United States,"January 1, 2020",2010,2 Seasons,Kids' TV,4.800000,15.0
7184,TV Show,Red vs. Blue,Kunle Afolayan,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,"January 1, 2020",2015,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...",6.262838,1545.0
7185,TV Show,Maron,Kunle Afolayan,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,"January 1, 2020",2016,4 Seasons,TV Comedies,5.200000,372.0
7186,Movie,Little Baby Bum: Nursery Rhyme Friends,Kunle Afolayan,David Attenborough,United States,"January 1, 2020",2016,60 min,Movies,6.262838,1545.0
7187,TV Show,A Young Doctor's Notebook and Other Stories,Kunle Afolayan,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,"January 1, 2020",2013,2 Seasons,"British TV Shows, TV Comedies, TV Dramas",6.262838,1545.0

In [170]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7188 entries, 0 to 7187
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   type           7188 non-null   object
 1   title          7188 non-null   object
 2   director       7188 non-null   object
 3   cast           7188 non-null   object
 4   country        7188 non-null   object
 5   date_added     7188 non-null   object
 6   release_year   7188 non-null   int64
 7   duration       7188 non-null   object
 8   listed_in      7188 non-null   object
 9   averageRating  7188 non-null   float64
 10  numVotes       7188 non-null   float64
dtypes: float64(2), int64(1), object(8)
memory usage: 617.8+ KB

In [171]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [type, title, director, cast, country, date_added, release_year, duration, listed_in, averageRating, numVotes]
Index: []

In [172]:
df["date_added"]=pd.to_datetime(df["date_added"],errors='coerce')

In [173]:
df[df.isnull().any(axis=1)]

,type,title,director,cast,country,date_added,release_year,duration,listed_in,averageRating,numVotes
4014,TV Show,Haven,Kunle Afolayan,"Emily Rose, Lucas Bryant, Nicholas Campbell, E...","Canada, United States",NaT,2015,5 Seasons,"Classic & Cult TV, TV Horror, TV Mysteries",6.262838,1545.0
4015,TV Show,Haven,Kunle Afolayan,"Emily Rose, Lucas Bryant, Nicholas Campbell, E...","Canada, United States",NaT,2015,5 Seasons,"Classic & Cult TV, TV Horror, TV Mysteries",6.262838,1545.0
4016,TV Show,Once Upon a Time,"Mario Van Peebles, Ralph Hemecker, Gwyneth Hor...","Lana Parrilla, Robert Carlyle, Jared Gilmore, ...",United States,NaT,2018,7 Seasons,"TV Dramas, TV Sci-Fi & Fantasy",6.262838,1545.0
4017,TV Show,Once Upon a Time,"Mario Van Peebles, Ralph Hemecker, Gwyneth Hor...","Lana Parrilla, Robert Carlyle, Jared Gilmore, ...",United States,NaT,2018,7 Seasons,"TV Dramas, TV Sci-Fi & Fantasy",6.262838,1545.0
4018,TV Show,Once Upon a Time,"Mario Van Peebles, Ralph Hemecker, Gwyneth Hor...","Lana Parrilla, Robert Carlyle, Jared Gilmore, ...",United States,NaT,2018,7 Seasons,"TV Dramas, TV Sci-Fi & Fantasy",7.000000,8.0
...,...,...,...,...,...,...,...,...,...,...,...
7173,TV Show,Talking Tom and Friends,Kunle Afolayan,"Colin Hanks, Tom Kenny, James Adomian, Lisa Sc...","Cyprus, Austria, Thailand",NaT,2017,2 Seasons,"Kids' TV, TV Comedies",6.262838,1545.0
7174,TV Show,Pokémon the Series,Kunle Afolayan,"Sarah Natochenny, Laurie Hymes, Jessica Paquet...",Japan,NaT,2019,2 Seasons,"Anime Series, Kids' TV",6.262838,1545.0
7175,TV Show,Justin Time,Kunle Afolayan,"Gage Munroe, Scott McCord, Jenna Warren",Canada,NaT,2012,2 Seasons,Kids' TV,6.262838,1545.0
7176,TV Show,Terrace House: Boys & Girls in the City,Kunle Afolayan,"You, Reina Triendl, Ryota Yamasato, Yoshimi To...",Japan,NaT,2016,2 Seasons,"International TV Shows, Reality TV",6.262838,1545.0
7177,TV Show,Weeds,Kunle Afolayan,"Mary-Louise Parker, Hunter Parrish, Alexander ...",United States,NaT,2012,8 Seasons,"TV Comedies, TV Dramas",6.262838,1545.0

In [174]:
df['date_added'] = df['date_added'].fillna(method='ffill')

C:\Users\Apurva\AppData\Local\Temp\ipykernel_21604\3385547354.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['date_added'] = df['date_added'].fillna(method='ffill')

In [175]:
from datetime import datetime

df["release_month"]=df["date_added"].dt.month
df["release_quarter"]=df["date_added"].dt.quarter

In [176]:
df

,type,title,director,cast,country,date_added,release_year,duration,listed_in,averageRating,numVotes,release_month,release_quarter
0,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",2019-09-09,2019,90 min,"Children & Family Movies, Comedies",3.400000,578.0,9,3
1,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,2017-09-08,2017,99 min,Comedies,5.100000,7143.0,9,3
2,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada",2017-09-08,2014,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers",6.000000,60800.0,9,3
3,Movie,Good People,Henrik Ruben Genz,"James Franco, Kate Hudson, Tom Wilkinson, Omar...","United States, United Kingdom, Denmark, Sweden",2017-09-08,2014,90 min,"Action & Adventure, Thrillers",5.500000,17701.0,9,3
4,Movie,Kidnapping Mr. Heineken,Daniel Alfredson,"Jim Sturgess, Sam Worthington, Ryan Kwanten, A...","Netherlands, Belgium, United Kingdom, United S...",2017-09-08,2015,95 min,"Action & Adventure, Dramas, International Movies",6.100000,22174.0,9,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7183,TV Show,Kikoriki,Kunle Afolayan,Igor Dmitriev,United States,2020-01-01,2010,2 Seasons,Kids' TV,4.800000,15.0,1,1
7184,TV Show,Red vs. Blue,Kunle Afolayan,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,2020-01-01,2015,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...",6.262838,1545.0,1,1
7185,TV Show,Maron,Kunle Afolayan,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,2020-01-01,2016,4 Seasons,TV Comedies,5.200000,372.0,1,1
7186,Movie,Little Baby Bum: Nursery Rhyme Friends,Kunle Afolayan,David Attenborough,United States,2020-01-01,2016,60 min,Movies,6.262838,1545.0,1,1
7187,TV Show,A Young Doctor's Notebook and Other Stories,Kunle Afolayan,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,2020-01-01,2013,2 Seasons,"British TV Shows, TV Comedies, TV Dramas",6.262838,1545.0,1,1

In [177]:
from sklearn.preprocessing import OneHotEncoder

encoder=OneHotEncoder(sparse_output=False, handle_unknown='ignore')

encoded_df=encoder.fit_transform(df[["type"]])

In [178]:
encoded_df=pd.DataFrame(encoded_df,columns=encoder.get_feature_names_out(["type"]))

In [180]:
df

,type,title,director,cast,country,date_added,release_year,duration,listed_in,averageRating,numVotes,release_month,release_quarter
0,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",2019-09-09,2019,90 min,"Children & Family Movies, Comedies",3.400000,578.0,9,3
1,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,2017-09-08,2017,99 min,Comedies,5.100000,7143.0,9,3
2,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada",2017-09-08,2014,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers",6.000000,60800.0,9,3
3,Movie,Good People,Henrik Ruben Genz,"James Franco, Kate Hudson, Tom Wilkinson, Omar...","United States, United Kingdom, Denmark, Sweden",2017-09-08,2014,90 min,"Action & Adventure, Thrillers",5.500000,17701.0,9,3
4,Movie,Kidnapping Mr. Heineken,Daniel Alfredson,"Jim Sturgess, Sam Worthington, Ryan Kwanten, A...","Netherlands, Belgium, United Kingdom, United S...",2017-09-08,2015,95 min,"Action & Adventure, Dramas, International Movies",6.100000,22174.0,9,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7183,TV Show,Kikoriki,Kunle Afolayan,Igor Dmitriev,United States,2020-01-01,2010,2 Seasons,Kids' TV,4.800000,15.0,1,1
7184,TV Show,Red vs. Blue,Kunle Afolayan,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,2020-01-01,2015,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...",6.262838,1545.0,1,1
7185,TV Show,Maron,Kunle Afolayan,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,2020-01-01,2016,4 Seasons,TV Comedies,5.200000,372.0,1,1
7186,Movie,Little Baby Bum: Nursery Rhyme Friends,Kunle Afolayan,David Attenborough,United States,2020-01-01,2016,60 min,Movies,6.262838,1545.0,1,1
7187,TV Show,A Young Doctor's Notebook and Other Stories,Kunle Afolayan,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,2020-01-01,2013,2 Seasons,"British TV Shows, TV Comedies, TV Dramas",6.262838,1545.0,1,1

In [182]:
df=pd.concat([df.drop(columns=["type"]),encoded_df],axis=1)

In [183]:
from sklearn.preprocessing import MultiLabelBinarizer

df['genres'] = df['listed_in'].str.split(', ')
mlb = MultiLabelBinarizer()
genre_encoded = pd.DataFrame(mlb.fit_transform(df['genres']), columns=mlb.classes_)
df = pd.concat([df, genre_encoded], axis=1)

In [184]:
df

,title,director,cast,country,date_added,release_year,duration,listed_in,averageRating,numVotes,...,TV Action & Adventure,TV Comedies,TV Dramas,TV Horror,TV Mysteries,TV Sci-Fi & Fantasy,TV Shows,TV Thrillers,Teen TV Shows,Thrillers
0,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",2019-09-09,2019,90 min,"Children & Family Movies, Comedies",3.400000,578.0,...,0,0,0,0,0,0,0,0,0,0
1,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,2017-09-08,2017,99 min,Comedies,5.100000,7143.0,...,0,0,0,0,0,0,0,0,0,0
2,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada",2017-09-08,2014,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers",6.000000,60800.0,...,0,0,0,0,0,0,0,0,0,1
3,Good People,Henrik Ruben Genz,"James Franco, Kate Hudson, Tom Wilkinson, Omar...","United States, United Kingdom, Denmark, Sweden",2017-09-08,2014,90 min,"Action & Adventure, Thrillers",5.500000,17701.0,...,0,0,0,0,0,0,0,0,0,1
4,Kidnapping Mr. Heineken,Daniel Alfredson,"Jim Sturgess, Sam Worthington, Ryan Kwanten, A...","Netherlands, Belgium, United Kingdom, United S...",2017-09-08,2015,95 min,"Action & Adventure, Dramas, International Movies",6.100000,22174.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7183,Kikoriki,Kunle Afolayan,Igor Dmitriev,United States,2020-01-01,2010,2 Seasons,Kids' TV,4.800000,15.0,...,0,0,0,0,0,0,0,0,0,0
7184,Red vs. Blue,Kunle Afolayan,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,2020-01-01,2015,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...",6.262838,1545.0,...,1,1,0,0,0,1,0,0,0,0
7185,Maron,Kunle Afolayan,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,2020-01-01,2016,4 Seasons,TV Comedies,5.200000,372.0,...,0,1,0,0,0,0,0,0,0,0
7186,Little Baby Bum: Nursery Rhyme Friends,Kunle Afolayan,David Attenborough,United States,2020-01-01,2016,60 min,Movies,6.262838,1545.0,...,0,0,0,0,0,0,0,0,0,0
7187,A Young Doctor's Notebook and Other Stories,Kunle Afolayan,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,2020-01-01,2013,2 Seasons,"British TV Shows, TV Comedies, TV Dramas",6.262838,1545.0,...,0,1,1,0,0,0,0,0,0,0

In [185]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7188 entries, 0 to 7187
Data columns (total 57 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         7188 non-null   object
 1   director                      7188 non-null   object
 2   cast                          7188 non-null   object
 3   country                       7188 non-null   object
 4   date_added                    7188 non-null   datetime64[ns]
 5   release_year                  7188 non-null   int64
 6   duration                      7188 non-null   object
 7   listed_in                     7188 non-null   object
 8   averageRating                 7188 non-null   float64
 9   numVotes                      7188 non-null   float64
 10  release_month                 7188 non-null   int32
 11  release_quarter               7188 non-null   int32
 12  type_Movie                    7188 non-null   float64
 13  type_TV Show                  7188 non-null   float64
 14  genres                        7188 non-null   object
 15  Action & Adventure            7188 non-null   int32
 16  Anime Features                7188 non-null   int32
 17  Anime Series                  7188 non-null   int32
 18  British TV Shows              7188 non-null   int32
 19  Children & Family Movies      7188 non-null   int32
 20  Classic & Cult TV             7188 non-null   int32
 21  Classic Movies                7188 non-null   int32
 22  Comedies                      7188 non-null   int32
 23  Crime TV Shows                7188 non-null   int32
 24  Cult Movies                   7188 non-null   int32
 25  Documentaries                 7188 non-null   int32
 26  Docuseries                    7188 non-null   int32
 27  Dramas                        7188 non-null   int32
 28  Faith & Spirituality          7188 non-null   int32
 29  Horror Movies                 7188 non-null   int32
 30  Independent Movies            7188 non-null   int32
 31  International Movies          7188 non-null   int32
 32  International TV Shows        7188 non-null   int32
 33  Kids' TV                      7188 non-null   int32
 34  Korean TV Shows               7188 non-null   int32
 35  LGBTQ Movies                  7188 non-null   int32
 36  Movies                        7188 non-null   int32
 37  Music & Musicals              7188 non-null   int32
 38  Reality TV                    7188 non-null   int32
 39  Romantic Movies               7188 non-null   int32
 40  Romantic TV Shows             7188 non-null   int32
 41  Sci-Fi & Fantasy              7188 non-null   int32
 42  Science & Nature TV           7188 non-null   int32
 43  Spanish-Language TV Shows     7188 non-null   int32
 44  Sports Movies                 7188 non-null   int32
 45  Stand-Up Comedy               7188 non-null   int32
 46  Stand-Up Comedy & Talk Shows  7188 non-null   int32
 47  TV Action & Adventure         7188 non-null   int32
 48  TV Comedies                   7188 non-null   int32
 49  TV Dramas                     7188 non-null   int32
 50  TV Horror                     7188 non-null   int32
 51  TV Mysteries                  7188 non-null   int32
 52  TV Sci-Fi & Fantasy           7188 non-null   int32
 53  TV Shows                      7188 non-null   int32
 54  TV Thrillers                  7188 non-null   int32
 55  Teen TV Shows                 7188 non-null   int32
 56  Thrillers                     7188 non-null   int32
dtypes: datetime64[ns](1), float64(4), int32(44), int64(1), object(7)
memory usage: 1.9+ MB

In [186]:
df.isnull().sum()

title                           0
director                        0
cast                            0
country                         0
date_added                      0
release_year                    0
duration                        0
listed_in                       0
averageRating                   0
numVotes                        0
release_month                   0
release_quarter                 0
type_Movie                      0
type_TV Show                    0
genres                          0
Action & Adventure              0
Anime Features                  0
Anime Series                    0
British TV Shows                0
Children & Family Movies        0
Classic & Cult TV               0
Classic Movies                  0
Comedies                        0
Crime TV Shows                  0
Cult Movies                     0
Documentaries                   0
Docuseries                      0
Dramas                          0
Faith & Spirituality            0
Horror Movies                   0
Independent Movies              0
International Movies            0
International TV Shows          0
Kids' TV                        0
Korean TV Shows                 0
LGBTQ Movies                    0
Movies                          0
Music & Musicals                0
Reality TV                      0
Romantic Movies                 0
Romantic TV Shows               0
Sci-Fi & Fantasy                0
Science & Nature TV             0
Spanish-Language TV Shows       0
Sports Movies                   0
Stand-Up Comedy                 0
Stand-Up Comedy & Talk Shows    0
TV Action & Adventure           0
TV Comedies                     0
TV Dramas                       0
TV Horror                       0
TV Mysteries                    0
TV Sci-Fi & Fantasy             0
TV Shows                        0
TV Thrillers                    0
Teen TV Shows                   0
Thrillers                       0
dtype: int64

In [187]:
averageRating_median=df["averageRating"].median()
numVotes_median=df["numVotes"].median()

In [188]:
df["result"]=((df["averageRating"] >=averageRating_median) | (df["numVotes"] >=numVotes_median)).astype(int)

In [189]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7188 entries, 0 to 7187
Data columns (total 58 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         7188 non-null   object
 1   director                      7188 non-null   object
 2   cast                          7188 non-null   object
 3   country                       7188 non-null   object
 4   date_added                    7188 non-null   datetime64[ns]
 5   release_year                  7188 non-null   int64
 6   duration                      7188 non-null   object
 7   listed_in                     7188 non-null   object
 8   averageRating                 7188 non-null   float64
 9   numVotes                      7188 non-null   float64
 10  release_month                 7188 non-null   int32
 11  release_quarter               7188 non-null   int32
 12  type_Movie                    7188 non-null   float64
 13  type_TV Show                  7188 non-null   float64
 14  genres                        7188 non-null   object
 15  Action & Adventure            7188 non-null   int32
 16  Anime Features                7188 non-null   int32
 17  Anime Series                  7188 non-null   int32
 18  British TV Shows              7188 non-null   int32
 19  Children & Family Movies      7188 non-null   int32
 20  Classic & Cult TV             7188 non-null   int32
 21  Classic Movies                7188 non-null   int32
 22  Comedies                      7188 non-null   int32
 23  Crime TV Shows                7188 non-null   int32
 24  Cult Movies                   7188 non-null   int32
 25  Documentaries                 7188 non-null   int32
 26  Docuseries                    7188 non-null   int32
 27  Dramas                        7188 non-null   int32
 28  Faith & Spirituality          7188 non-null   int32
 29  Horror Movies                 7188 non-null   int32
 30  Independent Movies            7188 non-null   int32
 31  International Movies          7188 non-null   int32
 32  International TV Shows        7188 non-null   int32
 33  Kids' TV                      7188 non-null   int32
 34  Korean TV Shows               7188 non-null   int32
 35  LGBTQ Movies                  7188 non-null   int32
 36  Movies                        7188 non-null   int32
 37  Music & Musicals              7188 non-null   int32
 38  Reality TV                    7188 non-null   int32
 39  Romantic Movies               7188 non-null   int32
 40  Romantic TV Shows             7188 non-null   int32
 41  Sci-Fi & Fantasy              7188 non-null   int32
 42  Science & Nature TV           7188 non-null   int32
 43  Spanish-Language TV Shows     7188 non-null   int32
 44  Sports Movies                 7188 non-null   int32
 45  Stand-Up Comedy               7188 non-null   int32
 46  Stand-Up Comedy & Talk Shows  7188 non-null   int32
 47  TV Action & Adventure         7188 non-null   int32
 48  TV Comedies                   7188 non-null   int32
 49  TV Dramas                     7188 non-null   int32
 50  TV Horror                     7188 non-null   int32
 51  TV Mysteries                  7188 non-null   int32
 52  TV Sci-Fi & Fantasy           7188 non-null   int32
 53  TV Shows                      7188 non-null   int32
 54  TV Thrillers                  7188 non-null   int32
 55  Teen TV Shows                 7188 non-null   int32
 56  Thrillers                     7188 non-null   int32
 57  result                        7188 non-null   int32
dtypes: datetime64[ns](1), float64(4), int32(45), int64(1), object(7)
memory usage: 1.9+ MB

In [195]:
X=df.drop(columns=["title","director","cast","country","date_added","release_year","duration","listed_in","averageRating","numVotes","release_quarter","type_TV Show","genres","result"])
y=df["result"]

In [196]:
X

,release_month,type_Movie,Action & Adventure,Anime Features,Anime Series,British TV Shows,Children & Family Movies,Classic & Cult TV,Classic Movies,Comedies,...,TV Action & Adventure,TV Comedies,TV Dramas,TV Horror,TV Mysteries,TV Sci-Fi & Fantasy,TV Shows,TV Thrillers,Teen TV Shows,Thrillers
0,9,1.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,9,1.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,9,1.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,9,1.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,9,1.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7183,1,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7184,1,0.0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,1,0,0,0,0
7185,1,0.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
7186,1,1.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7187,1,0.0,0,0,0,1,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0

In [197]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [198]:
print(df['result'].value_counts())

result
1    6181
0    1007
Name: count, dtype: int64

In [199]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,stratify=y,random_state=42)

In [200]:
X_train

,release_month,type_Movie,Action & Adventure,Anime Features,Anime Series,British TV Shows,Children & Family Movies,Classic & Cult TV,Classic Movies,Comedies,...,TV Action & Adventure,TV Comedies,TV Dramas,TV Horror,TV Mysteries,TV Sci-Fi & Fantasy,TV Shows,TV Thrillers,Teen TV Shows,Thrillers
283,9,1.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2933,2,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5295,6,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1267,5,1.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5422,7,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,9,1.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6261,8,0.0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6375,8,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5961,12,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3716,4,1.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [201]:
y_train

283     1
2933    1
5295    1
1267    1
5422    1
       ..
337     1
6261    1
6375    1
5961    1
3716    1
Name: result, Length: 5750, dtype: int32

In [202]:
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

In [203]:
from imblearn.over_sampling import SMOTE

smote=SMOTE(random_state=42)
X_train_smote,y_train_smote=smote.fit_resample(X_train,y_train)

In [204]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5750 entries, 283 to 3716
Data columns (total 44 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   release_month                 5750 non-null   int32
 1   type_Movie                    5750 non-null   float64
 2   Action & Adventure            5750 non-null   int32
 3   Anime Features                5750 non-null   int32
 4   Anime Series                  5750 non-null   int32
 5   British TV Shows              5750 non-null   int32
 6   Children & Family Movies      5750 non-null   int32
 7   Classic & Cult TV             5750 non-null   int32
 8   Classic Movies                5750 non-null   int32
 9   Comedies                      5750 non-null   int32
 10  Crime TV Shows                5750 non-null   int32
 11  Cult Movies                   5750 non-null   int32
 12  Documentaries                 5750 non-null   int32
 13  Docuseries                    5750 non-null   int32
 14  Dramas                        5750 non-null   int32
 15  Faith & Spirituality          5750 non-null   int32
 16  Horror Movies                 5750 non-null   int32
 17  Independent Movies            5750 non-null   int32
 18  International Movies          5750 non-null   int32
 19  International TV Shows        5750 non-null   int32
 20  Kids' TV                      5750 non-null   int32
 21  Korean TV Shows               5750 non-null   int32
 22  LGBTQ Movies                  5750 non-null   int32
 23  Movies                        5750 non-null   int32
 24  Music & Musicals              5750 non-null   int32
 25  Reality TV                    5750 non-null   int32
 26  Romantic Movies               5750 non-null   int32
 27  Romantic TV Shows             5750 non-null   int32
 28  Sci-Fi & Fantasy              5750 non-null   int32
 29  Science & Nature TV           5750 non-null   int32
 30  Spanish-Language TV Shows     5750 non-null   int32
 31  Sports Movies                 5750 non-null   int32
 32  Stand-Up Comedy               5750 non-null   int32
 33  Stand-Up Comedy & Talk Shows  5750 non-null   int32
 34  TV Action & Adventure         5750 non-null   int32
 35  TV Comedies                   5750 non-null   int32
 36  TV Dramas                     5750 non-null   int32
 37  TV Horror                     5750 non-null   int32
 38  TV Mysteries                  5750 non-null   int32
 39  TV Sci-Fi & Fantasy           5750 non-null   int32
 40  TV Shows                      5750 non-null   int32
 41  TV Thrillers                  5750 non-null   int32
 42  Teen TV Shows                 5750 non-null   int32
 43  Thrillers                     5750 non-null   int32
dtypes: float64(1), int32(43)
memory usage: 1.0 MB

In [205]:
random_forest=RandomForestClassifier()
random_forest.fit(X_train_smote,y_train_smote)

RandomForestClassifier()

In [206]:
y_pred=random_forest.predict(X_test)

In [207]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

score=accuracy_score(y_pred,y_test)
print(score)
print(classification_report(y_pred,y_test))
print(confusion_matrix(y_pred,y_test))

0.6912378303198887
              precision    recall  f1-score   support

           0       0.40      0.20      0.26       403
           1       0.74      0.88      0.80      1035

    accuracy                           0.69      1438
   macro avg       0.57      0.54      0.53      1438
weighted avg       0.64      0.69      0.65      1438

[[ 80 323]
 [121 914]]

In [208]:
model=XGBClassifier()
model.fit(X_train_smote,y_train_smote)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              feature_weights=None, gamma=None, grow_policy=None,
              importance_type=None, interaction_constraints=None,
              learning_rate=None, max_bin=None, max_cat_threshold=None,
              max_cat_to_onehot=None, max_delta_step=None, max_depth=None,
              max_leaves=None, min_child_weight=None, missing=nan,
              monotone_constraints=None, multi_strategy=None, n_estimators=None,
              n_jobs=None, num_parallel_tree=None, ...)

In [209]:
y_pred=model.predict(X_test)

In [210]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

score=accuracy_score(y_pred,y_test)
print(score)
print(classification_report(y_pred,y_test))
print(confusion_matrix(y_pred,y_test))

0.6835883171070932
              precision    recall  f1-score   support

           0       0.42      0.20      0.27       424
           1       0.73      0.89      0.80      1014

    accuracy                           0.68      1438
   macro avg       0.57      0.54      0.53      1438
weighted avg       0.64      0.68      0.64      1438

[[ 85 339]
 [116 898]]